#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.data input{
  width: 15em;
  height: 2em;
  font-size: 1em;
  padding-left: 0.5em;
  border-radius: 10px;
  margin: 0.5em;
}
.data button{
  width: 10em;
  height: 2em;
  font-size: 1em;
  padding-left: 0.5em;
  border-radius: 10px;
  margin: 0.5em;
}